body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 100px;
}

.table-label {
    position: relative;
    width: 200px;
    height: 40px;
    border: 1px solid black;
}

.table-label .label-top,
.table-label .label-bottom,
.table-label .border-label {
    position: absolute;
}

.table-label .border-label {
    width: 0px;
    height: 201px;
    top: 2px;
    left: 0px;
    border: 1px dashed black;
    transform: rotate(-77deg);
    transform-origin: 0 0;
}

.table-label .label-top {
    top: 0px;
    right: 0px;
    font-weight: 700;
    padding-top: 3px;
    padding-right: 10px;
}

.table-label .label-bottom {
    bottom: 0px;
    left: 0px;
    font-weight: 700;
    padding-bottom: 3px;
    padding-left: 10px;
}



/*competence*/
.matrix-table table {
    border-collapse: collapse;
    border-spacing: 0;
}

.matrix-table table thead tr .cell-header {
    height: 50px;
}

.matrix-table table thead tr .competence-header {
    border: 1px solid red;
    border-bottom:none ;
}

.matrix-table table thead tr .competence-items {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 1px solid black;
}

.matrix-table table thead tr .category-name {
    width: calc(100% + 2px);
    height: 20px;
    padding: 10px 0;
    text-wrap: nowrap;
}

.matrix-table table thead tr .category-name.header-empty {
    border: none;
}

.matrix-table table thead tr .competence-item {
    display: inline-block;
    padding: 0 10px;
}

.matrix-table table thead tr .competence-value {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.matrix-table table thead tr .competence-value div {
    display: inline-block;
    width: 50%;
    padding: 5px 0;
}