body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}
/*notification*/
.toasts {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: none;
}

.toasts-success {
    background-color: #1a6634;
    color: #fff;
}

.toasts-fail {
    background-color: #FD7676;
    color: #fff;
}
.toasts div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.toasts p {
    margin: 0;
    display: inline-block;
}

.show {
    display: block;
}

/*thead*/
table {
    border-collapse: collapse;
    border-spacing: 0px;
    text-wrap: nowrap;
}

table thead th {
    color: #5A6276;
}

.vertical-cell {
    background-color: white;
    border: 1px solid #008000;
    writing-mode: vertical-rl;
    padding: 5px;
}

.border-none {
    border: none;
}

.table-label {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #ACC8B6;
    font-weight: 700;
}

.header-top .table-label {
    background-color: transparent;
    height: 25px;
}

.table-label .label-top,
.table-label .label-bottom,
.table-label .border-label {
    position: absolute;
}

.table-label .border-label {
    position: absolute;
    border: 1px dashed #000;
    transform: translate(-50%, -50%) rotate(13deg);
    display: block;
    width: 100%;
    right: 0;
    top: 50%;
    left: 50%;
}

.table-label .label-top {
    top: 0px;
    right: 0px;
    font-weight: 700;
    padding-top: 3px;
    padding-right: 10px;
}

.table-label .label-bottom {
    bottom: 0px;
    left: 0px;
    font-weight: 700;
    padding-bottom: 3px;
    padding-left: 10px;
}

td,
th,
tr {
    padding: 0px;
}

.header-bottom {
    background-color: #D6E5DC;
}

.competence-item {
    padding: 0 15px;
}

.category-name {
    height: 10px;
    border: 1px solid #008000;
    padding: 0 10px;
    color: black;
    background-color: white;
}


.competence-item--top {
    font-weight: 700;
}

.competence-item--bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.competence-item--bottom span {
    display: inline-block;
    font-weight: 300;
}

.add-action {
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: #008000;
    font-weight: 700;
}

tbody .add-action {
    background-color: #D6E5DC;
    padding: 10px;
}

.add-action:hover {
    background-color: white;
    cursor: pointer;
}

.add-action span {
    padding-left: 5px;
}

tbody .add-action i {
    margin-left: 10%;
}
/*tbody*/
.position-name td:first-of-type {
    border-top: 1px solid #008000;
    border-bottom: 1px solid #008000;
    background-color: #D6E5DC;
    padding: 10px;
}

.position-name td:first-of-type div {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.position-name td:first-of-type div span {
    display: inline-block;
}

.border-position {
    width: 2px;
    height: 16px;
    background-color: #B7C8C4;
}


.data div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cell {
    border: none;
    padding: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}