<div class="question-actions">
    <div class="questions-number">{{questionsToAction?.length}}</div>
    <div class="actions">
        <button type="button" class="action" (click)="updateQuestions('Gửi duyệt')" *ngIf="actions.includes('Gửi duyệt')"><i class="fa-solid fa-share"></i><span>Gửi duyệt</span></button>
        <button type="button" class="action" (click)="updateQuestions('Trả về')" *ngIf="actions.includes('Trả về')"><i class="fa-solid fa-arrow-rotate-left"></i><span>Trả về</span></button>
        <button type="button" class="action" (click)="updateQuestions('Duyệt áp dụng')" *ngIf="actions.includes('Duyệt áp dụng')"><i class="fa-regular fa-circle-check"></i><span>Duyệt áp dụng</span></button>
        <button type="button" class="action" (click)="updateQuestions('Ngưng áp dụng')" *ngIf="actions.includes('Ngưng áp dụng')"><i class="fa-solid fa-ban"></i><span>Ngưng áp dụng</span></button>
        <button type="button" class="action delete" (click)="updateQuestions('Xóa')" *ngIf="actions.includes('Xóa')"><i class="fa-solid fa-trash"></i><span>Xóa câu hỏi</span></button>
    </div>
    <div class="exit"><i class="fa-solid fa-x"></i></div>
</div>
