*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  box-sizing: border-box;

}

p {
  margin: 0;
}

.disable-element {
  pointer-events: none;
}

.question-bank {
  height: 99.5vh;
  width: 100vw;
  padding-right: 0px;
}

.truncate-text p {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.question-bank {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 18%;
  display: inline-block;
}

.context {
  width: 82%;
  display: inline-block;
  padding-left: 5px;

  background-color: #edeff3;
}

/*side bar*/
.sidebar {
  height: 100%;
  padding: 0;
  bottom: 0px;
  background-color: #5a6276;
}

.sidebar .logo {
  width: 100%;
  height: 3.25rem;
  background-color: #fff;
}

.sidebar .sub-module {
  width: 100%;

}

.sidebar .nav-link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar .nav-link.active {
  color: #5cb800;
  position: relative;
}



.sidebar .nav-link.active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #5cb800;
}

.dropdown-cs-toggle {
  cursor: pointer;
}

.dropdown-cs-menu {
  display: block;
  padding: 0 var(--bs-nav-link-padding-x);
  position: relative;
}

.dropdown-cs-menu li {
  list-style: none;
  padding: 0.5rem 0;
}

.dropdown-cs-item.active,
.dropdown-cs-item:hover {
  color: #fff;
}

.dropdown-cs-menu::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #fff;
}

.dropdown-cs-menu li a {
  color: #bdc2d2;
  text-decoration: none;
  font-weight: 700;
  margin: 0.5rem 0;
}

/*header*/
.context {
  height: 100%;
}

.header,
.header-left,
.header-right {}

.header {
  width: 100%;
  background-color: #fff;
  height: 3.125rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 0px !important;
}

.header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .nav-link {
  padding: 0 0.01rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #5a6276;
}

.header-left .nav-link:hover {
  color: #008000;
}

.header-left .nav-link.active {
  color: #008000;
}

.header-left .nav {
  height: 100%;
}

.header-left .nav-item {
  display: flex;
  text-align: center;
  align-items: center;
}

.border-cs-right {
  height: 1.5rem;
  width: 0.125rem;
  background-color: #5a6276;
  border-radius: 3px;
  display: inline-block;
  margin: 0 1rem;
}

.header-left .nav-item .nav-link.active {
  position: relative;
}

.border-active {
  display: inline-block;
}

.border-active.active {
  width: 100%;
  border-radius: 3px;
  height: 0.2rem;
  background-color: #008000;
  position: absolute;
  bottom: -0.9rem;
  left: 0px;
}

.header-right i {
  color: #5A6276;
}

/*question filter*/
.question-filter {
  width: 97%;
  margin-left: 0px !important;
  padding-top: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid #BDC2D2;
}

.question-border {
  height: 1rem;
  width: 2px;
  background-color: #BDC2D2;
  display: inline-block;
  border-radius: 3px;
  margin: 0 5px;
}

.question-content {
  text-align: left;
}

.question-info span {
  display: inline-block;
}

.question-info {
  display: flex;
  justify-content: start;
  align-items: center;
}




.question-filter .nav-link {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-filter .nav-link label,
.question-filter .nav-link input {
  display: inline-block;
  padding: 0 1rem;
}

.question-filter .nav-link label {
  color: #5a6276;
}

.question-filter .nav-item {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  border-radius: 3rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.question-filter-right .nav-item {
  border-radius: 0px;
  margin-right: 0;
  margin-left: 1rem;
  transition: .5s;

}

.question-filter-right .nav-item:hover {
  transform: translateY(-5%);
}

.question-filter-right .nav-item .nav-link i,
.question-filter-right .nav-item .nav-link {
  color: #959DB3;
}

.question-filter-right .nav-item:hover {
  background-color: #1a6634;
}

.question-filter-right .nav-item:hover .nav-link i,
.question-filter-right .nav-item:hover .nav-link {
  color: #fff;
}

.question-filter .nav-item:hover,
.question-filter .nav-link:hover,
.question-filter .nav-link label:hover,
.question-filter .nav-link input:hover {
  cursor: pointer;
}

.question-filter-left .nav-item {
  border: 1px solid transparent;
}

.question-filter-left .nav-item:hover,
.question-filter-left .nav-item.active {
  border-color: #008000;
}

.question-filter .nav-item input[type="checkbox"]:checked::before,
.check-popup:checked::before {
  content: "\002714";
  background-color: #008000;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
  width: 0.85rem;
  height: 0.85rem;
}

.question-filter .nav-item input[type="checkbox"]:hover::before,
.question-filter .nav-item:hover input[type="checkbox"]::before,
.check-popup:hover::before {
  content: "\002714";
  background-color: #008000;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.85rem;
  height: 0.85rem;
  cursor: pointer;
}

.question-filter-right .nav-item {
  border-radius: 5px;
}




/*Question List*/
.question-list {
  max-height: 50vh;
  overflow: auto;
  padding-right: 1rem;
  position: relative;
}

/*question list*/
.action-question-menu {
  display: none;
  z-index: 1;
  background-color: #edeff3;
  width: auto;
  position: absolute;
  top: 0;
  right: 100%;
  transition: 0.5s;

}

.action-question-menu li {
  text-wrap: nowrap;

}

.show-action-question {
  position: relative;
}

.show-action-question:hover {
  cursor: pointer;
}

.show-action-question i {
  color: #bdc2d2;
}

.question-list .table tbody .question-row .show-action-question.active i,
.question-list .table tbody .question-row .show-action-question.active {
  color: #fff;
}



.show-action-question {
  border: none;
  background-color: transparent;
}

.question-action-item {
  background-color: #bdc2d2;
  padding: 0.5rem 0.5rem;
}

.question-action-item:hover {
  background-color: #008000;
  color: #fff;
}

.question-list .table tbody .question-row:hover,
.question-list .table tbody .question-row:hover td {
  background-color: #598f6d;
  cursor: pointer;
}

.question-row.active,
.question-row.active td {
  background-color: #598f6d;
  cursor: pointer;
}

.question-list .table tbody .question-row .show-action-question.active {
  background-color: #bdc2d2;
}

.question-row,
.question-row td,
.question-list tr,
.question-list tr th {
  border: none;
}

.question-list thead tr,
.question-list thead tr th {
  background-color: transparent;
}

.question-row td {
  height: 3.875rem;
  vertical-align: middle;
}

.question-row {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.show-action-question {
  padding: 0.5rem;
}

/*toasts*/
.toasts {
  position: fixed;
  left: 10vw;
  bottom: 3vh;
  z-index: 10;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: none;
}

.toasts-success {
  background-color: #1a6634;
  color: #fff;
}

.toasts-fail {
  background-color: #FD7676;
  color: #fff;
}

.toasts p {
  margin: 0;
}

.show {
  display: block;
}

/*question-lis*/
.question-list thead {
  padding: 0;
}

.table thead tr th {
  padding: 0;
  color: #5A6276;
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}


/*popup*/

#popup-action {
  display: none;
  position: fixed;
  bottom: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  width: auto;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#popup-action .nav {
  flex-wrap: nowrap;
}

#popup-action .nav-item {
  display: flex;
  align-items: center;
}

#popup-action .nav-item .nav-link i {
  color: #959DB3;
  padding: 0px;
  font-size: 16px;
}

#popup-action .count-question h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 0;
}

#popup-action .count-question {
  background-color: #008000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#popup-action .nav-item .nav-link span {
  color: black;

  white-space: nowrap;
}

#popup-action .nav-item:hover .nav-link span,
#popup-action .nav-item:hover .nav-link i {
  color: #008000;
}

#popup-action .nav-item.action-delete:hover .nav-link span,
#popup-action .nav-item.action-delete:hover .nav-link i {
  color: #FD7676;
}

#popup-action .nav-item:hover:first-of-type .nav-link span {
  color: white;
}

#popup-action .count-question .nav-link span {
  color: white;
}
.border-popup{
  height: 8vh;
  background-color: #EDEFF3;
  width: 3px;
}
.context {
  position: relative;
}



/*footer*/
.footer {
  position: absolute;
  bottom: 1rem;
  left: 5px;
  width: 99.5%;
  padding-right: 2rem;
}

.numbers-question span {
  display: inline-block;
  white-space: nowrap;
  color: #959DB3;
  padding-right: 1rem;
}

.numbers-question select {
  background-color: transparent;
  border: none;
  padding-right: 1.7rem;
  font-size: 14px;
}

.numbers-question select:hover {
  cursor: pointer;
}

.numbers-question select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/*pagiantion*/
.pagination-container ul {
  margin-bottom: 0;
}

.pagination .page-item .page-link {
  background-color: #F4F5F7;
  color: #959DB3;
  margin: 0 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}

.pagination .page-item.active .page-link {
  border: none;
  background-color: #959DB3;
  color: white;
}

/*question-search*/
.question-search {
  border-bottom: 1px solid #BDC2D2;
  padding-top: 1rem;
  width: 97%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.question-search .question-search--top {
  padding-bottom: 0.5rem;

}

.question-search--top .search-item--action {
  color: #5A6276;
  font-weight: 600;

}

.question-search--bot .search-item--action {
  color: #008000;
  text-decoration: underline;
}

.question-search--bot .search-item--action:hover {
  cursor: pointer;
}

.question-search--top .search-item--label {
  color: #959DB3;
}

.question-search .search-item--action {
  padding-right: 1rem;
  min-width: 120px;
}

.question-search .search-item--icon i {
  color: #959DB3;
}

.question-search .search-item--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.question-search--bot .search-item--label input {
  border: none;
  outline: none;
  min-width: 300px;
  padding: 0.25rem;
  padding-left: 1.5rem;
  border-radius: 5px;
}

.question-search--bot .search-item--label div {
  position: relative;
  padding-right: 0.25rem;
}

.question-search--bot .search-item--label div i {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 25%;
  left: 5px;
}

.question-search--bot .search-item--label button {
  border: none;
  background-color: #008000;
  padding: 0.3rem;
  border-radius: 3px;
  transition: .5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.question-search--bot .search-item--label button:hover {
  transform: translateY(-5%);
}

.question-search--bot .search-item--label button i,
.question-search--bot .search-item--label button span {
  color: white;
}

/*modal*/
.context-body {
  width: 100%;
  position: relative;
  height: 91vh;
}

.modal-delete {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.modal-header {
  padding: 1rem;
}

.modal-content {
  background-color: white;
  width: 350px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.modal-content .modal-header {
  border-bottom: 1px solid #DBDEE7;
}

.modal-footer button {
  border: none;
  border: 1px solid #C3C3C3;
  padding: 1rem;
}

.modal-footer button:first-of-type {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-bottom-left-radius: 5px;
}

.modal-footer button:last-of-type {

  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 5px;
}

.sidebar ul li a {
  font-size: 15px;
}

/*responsive*/
@media screen and (max-width:1235px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 12px;
  }

  .header,
  .sidebar .logo {
    height: 3rem;
  }

  .sidebar ul li a {
    font-size: 14px;
  }

  .question-search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .border-active.active {
    bottom: -1rem;
  }

  .border-cs-right {
    height: 1.25rem;
    margin: 0 10px;
  }

  .question-search .question-search--top {
    padding: 0;
  }

  .question-search .search-item--action {
    min-width: 90px;
  }

  .question-list td {
    height: 3rem;
  }

  .question-border {
    height: 1rem;
    width: 0.1rem;
    margin: 0 4px;
  }

  .footer {
    bottom: 0.75rem;
  }

  .modal-content {
    width: 280px;
    height: 200px;
  }

  .modal-header,
  .modal-footer button {
    padding: 0.75rem;
  }

  .question-filter .nav-item label{
    padding: 0 0.5rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 12px;
  }
  #popup-action .count-question h1{
    font-size: 22px;
  }
  #popup-action .nav .nav-item {
    height: 3.25rem;
  }
  .question-filter .nav-item{
    margin-right: 14px;
  }
}



@media screen and (max-width:1087px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 10px;
  }

  .header,
  .sidebar .logo {
    height: 2rem;
  }

  .sidebar ul li a {
    font-size: 12px;
  }

  .context-body {
    height: 93vh;
  }

  .border-active.active {
    bottom: -.65rem;
    height: 0.125rem;
  }

  .border-cs-right {
    height: 1rem;
    margin: 0 10px;
  }

  .question-filter {
    padding: 12px 0;
  }

  .question-search {
    padding-top: .45rem;
    padding-bottom: 0.45rem;
  }

  .question-search .question-search--top {
    padding: 0;
  }

  .question-search .search-item--action {
    min-width: 70px;
  }

  .question-list td {
    height: 2rem;
  }

  .question-border {
    height: 0.75rem;
    width: 0.1rem;
    margin: 0 3px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99%;
  }

  .modal-content {
    width: 240px;
    height: 170px;
  }

  .modal-header,
  .modal-footer button {
    padding: 0.75rem;
  }

  .numbers-question span {
    padding-right: 0px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 0.7rem;
    height: 0.7rem;
    font-size: 10px;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 0.7rem;
    height: 0.7rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 0.7rem;
    height: 0.7rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.4rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 12px;
  }
  #popup-action .count-question h1{
    font-size: 22px;
  }
  #popup-action .nav .nav-item {
    height: 3.25rem;
  }
  .question-filter .nav-item{
    margin-right: 12px;
  }
}

@media screen and (max-width:906px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 8px;
  }

  .header,
  .sidebar .logo {
    height: 1.75rem;
  }

  .sidebar ul li a {
    font-size: 9px;
  }

  .border-active.active {
    bottom: -.55rem;
    height: 0.125rem;
  }

  .border-cs-right {
    height: 1rem;
    margin: 0 8px;
  }

  .question-filter {
    padding: 8px 0;
  }

  .question-search {
    padding-top: .45rem;
    padding-bottom: 0.45rem;
    margin-bottom: 8px;
  }

  .question-search .question-search--top {
    padding: 0;
  }

  .question-search .search-item--action {
    min-width: 50px;
  }

  .question-list td {
    height: 1.75rem;
  }

  .question-border {
    height: 0.75rem;
    width: 0.1rem;
    margin: 0 3px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99%;
  }

  .modal-content {
    width: 240px;
    height: 170px;
  }

  .modal-header,
  .modal-footer button {
    padding: 0.75rem;
  }

  .numbers-question span {
    padding-right: 0px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 0.5rem;
    height: 0.5rem;
    font-size: 8px;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 0.5rem;
    height: 0.5rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 0.5rem;
    height: 0.5rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.3rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 10px;
  }
  #popup-action .count-question h1{
    font-size: 20px;
  }
  #popup-action .nav .nav-item {
    height: 3rem;
  }
  .question-filter .nav-item{
    margin-right: 10px;
  }
}

@media screen and (max-width:777px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 7px;
  }

  .header,
  .sidebar .logo {
    height: 1.5rem;
  }

  .sidebar ul li a {
    font-size: 7.25px;
  }

  .border-active.active {
    bottom: -.45rem;
    height: 0.1rem;
  }

  .border-cs-right {
    height: 0.75rem;
    width: 0.075rem;
    margin: 0 8px;
  }

  .question-filter {
    padding: 8px 0;
  }

  .question-search {
    padding-top: .45rem;
    padding-bottom: 0.45rem;
    margin-bottom: 8px;
  }

  .question-search .question-search--top {
    padding: 0;
  }

  .question-search .search-item--action {
    min-width: 50px;
  }

  .question-list td {
    height: 1.75rem;
  }

  .question-border {
    height: 0.75rem;
    width: 0.1rem;
    margin: 0 3px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99%;
  }

  .modal-content {
    width: 240px;
    height: 170px;
  }

  .modal-header,
  .modal-footer button {
    padding: 0.75rem;
  }

  .numbers-question span {
    padding-right: 0px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 0.5rem;
    height: 0.5rem;
    font-size: 8px;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 0.5rem;
    height: 0.5rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 0.5rem;
    height: 0.5rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.2rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 8px;
  }
  #popup-action .count-question h1{
    font-size: 16px;
  }
  #popup-action .nav .nav-item {
    height: 2.5rem;
  }
  .question-filter .nav-item{
    margin-right: 8px;
  }
}



@media screen and (max-width:1508.99px) and (min-width:1359px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 16px;
  }

  .header,
  .sidebar .logo {
    height: 3.5rem;
  }

  .sidebar ul li a {
    font-size: 18px;
  }

  .border-active.active {
    bottom: -1rem;
    height: 0.2rem;
  }

  .border-cs-right {
    height: 1.5rem;
    width: 0.15rem;
    margin: 0 12px;
  }

  .question-filter {
    padding: 18px 0;
  }

  .question-search {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  .question-search .question-search--top {
    padding: 8px;
  }

  .question-search .search-item--action {
    min-width: 130px;
  }

  .question-list td {
    height: 2rem;
  }

  .question-border {
    height: 1.25rem;
    width: 0.15rem;
    margin: 0 6px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99.5%;
  }

  .modal-content {
    width: 340px;
    height: 280px;
  }

  .modal-header,
  .modal-footer button {
    padding: 1.25rem;
  }

  .numbers-question span {
    padding-right: 16px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 0.85rem;
    height: 0.85rem;
    font-size: .75rem;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 0.85rem;
    height: 0.85rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 0.85rem;
    height: 0.85rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.5rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 16px;
  }
  #popup-action .count-question h1{
    font-size: 32px;
  }
  #popup-action .nav .nav-item {
    height: 4.5rem;
  }
}

@media screen and (max-width:1697.9px) and (min-width:1509px) {
  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 18px;
  }

  .header,
  .sidebar .logo {
    height: 4rem;
  }

  .sidebar ul li a {
    font-size: 20px;
  }

  .border-active.active {
    bottom: -1.25rem;
    height: 0.25rem;
  }

  .border-cs-right {
    height: 1.75rem;
    width: 0.2rem;
    margin: 0 14px;
  }

  .question-filter {
    padding: 20px 0;
  }

  .question-search {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .question-search .question-search--top {
    padding: 12px;
  }

  .question-search .search-item--action {
    min-width: 150px;
  }

  .question-list td {
    height: 2.5rem;
  }

  .question-border {
    height: 1.25rem;
    width: 0.15rem;
    margin: 0 6px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99.5%;
  }

  .modal-content {
    width: 380px;
    height: 320px;
  }

  .modal-header,
  .modal-footer button {
    padding: 1.25rem;
  }

  .numbers-question span {
    padding-right: 16px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 1rem;
    height: 1rem;
    font-size: .85rem;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 1rem;
    height: 1rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 1rem;
    height: 1rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.75rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 18px;
  }
  #popup-action .count-question h1{
    font-size: 34px;
  }
  #popup-action .nav .nav-item {
    height: 5.5rem;
  }
  #search-question{
    width: 300px;
    padding: 6px;
    padding-left: 26px;
  }

}
@media screen and (max-width:1810.9px) and (min-width:1698px) {
  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 20px;
  }

  .header,
  .sidebar .logo {
    height: 4.5rem;
  }

  .sidebar ul li a {
    font-size: 22px;
  }

  .border-active.active {
    bottom: -1.35rem;
    height: 0.25rem;
  }

  .border-cs-right {
    height: 2rem;
    width: 0.225rem;
    margin: 0 14px;
  }

  .question-filter {
    padding: 22px 0;
  }

  .question-search {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .question-search .question-search--top {
    padding: 12px;
  }

  .question-search .search-item--action {
    min-width: 150px;
  }


  .question-border {
    height: 1.5rem;
    width: 0.175rem;
    margin: 0 10px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99.5%;
  }

  .modal-content {
    width: 420px;
    height: 360px;
  }

  .modal-header,
  .modal-footer button {
    padding: 1.25rem;
  }

  .numbers-question span {
    padding-right: 16px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 1rem;
    height: 1rem;
    font-size: .85rem;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 1rem;
    height: 1rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 1rem;
    height: 1rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.75rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 20px;
  }
  #popup-action .count-question h1{
    font-size: 36px;
  }
  #popup-action .nav .nav-item {
    height: 6.5rem;
  }
  #search-question{
    width: 350px;
    padding: 7px;
    padding-left: 28px;
  }
}


@media screen and (max-width:2037.9px) and (min-width:1811px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 22px;
  }

  .header,
  .sidebar .logo {
    height: 5rem;
  }

  .sidebar ul li a {
    font-size: 24px;
  }

  .border-active.active {
    bottom: -1.45rem;
    height: 0.25rem;
  }

  .border-cs-right {
    height: 2.25rem;
    width: 0.225rem;
    margin: 0 16px;
  }

  .question-filter {
    padding: 24px 0;
  }

  .question-search {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
  }

  .question-search .question-search--top {
    padding: 14px;
  }

  .question-search .search-item--action {
    min-width: 180px;
  }


  .question-border {
    height: 1.5rem;
    width: 0.175rem;
    margin: 0 10px;
  }

  .footer {
    bottom: 0.5rem;
    width: 99.5%;
  }

  .modal-content {
    width: 460px;
    height: 400px;
  }

  .modal-header,
  .modal-footer button {
    padding: 1.25rem;
  }

  .numbers-question span {
    padding-right: 16px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 1rem;
    height: 1rem;
    font-size: .85rem;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 1rem;
    height: 1rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 1rem;
    height: 1rem;
  }
  .question-filter .nav-item label{
    padding: 0 0.75rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 22px;
  }
  #popup-action .count-question h1{
    font-size: 38px;
  }
  #popup-action .nav .nav-item {
    height: 7.5rem;
  }
  #search-question{
    width: 400px;
    padding: 8px;
    padding-left: 30px;
  }
}

@media screen and (max-width:2716.9px) and (min-width:2038px) {

  body,
  .pagination .page-item .page-link,
  .numbers-question select {
    font-size: 28px;
  }

  .header,
  .sidebar .logo {
    height: 6.5rem;
  }

  .sidebar ul li a {
    font-size: 30px;
  }

  .border-active.active {
    bottom: -1.95rem;
    height: 0.3rem;
  }

  .border-cs-right {
    height: 2.75rem;
    width: 0.225rem;
    margin: 0 20px;
  }

  .question-filter {
    padding: 24px 0;
  }

  .question-search {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
  }

  .question-search .question-search--top {
    padding: 14px;
  }

  .question-search .search-item--action {
    min-width: 200px;
  }


  .question-border {
    height: 1.5rem;
    width: 0.175rem;
    margin: 0 10px;
  }

  .footer {
    bottom: 0.75rem;
    width: 99.5%;
  }

  .modal-content {
    width: 560px;
    height: 500px;
  }

  .modal-header,
  .modal-footer button {
    padding: 1.25rem;
  }

  .numbers-question span {
    padding-right: 24px;
  }

  .numbers-question select {
    padding-left: 0.5rem;
  }

  .question-filter .nav-item input[type="checkbox"]:checked::before,
  .check-popup:checked::before {

    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
  }

  .question-filter .nav-item input[type="checkbox"]:hover::before,
  .question-filter .nav-item:hover input[type="checkbox"]::before,
  .check-popup:hover::before {

    width: 1.25rem;
    height: 1.25rem;

  }

  .question-filter .nav-item input[type="checkbox"],.table input[type="checkbox"]  {
    width: 1.25rem;
    height: 1.25rem;
  }
  .question-filter .nav-item label{
    padding: 0 1rem;
  }
  #popup-action .nav-item .nav-link i{
    font-size: 26px;
  }
  #popup-action .count-question h1{
    font-size: 42px;
  }
  #popup-action .nav .nav-item {
    height: 8.5rem;
  }
  #search-question{
    width: 600px;
    padding: 10px;
    padding-left: 34px;
  }
}