*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding-top: 0.125rem;
}

p {
  margin: 0;
}

.hidden-element {
  pointer-events: visiblePainted;
}

.question-bank {
  height: 99.5vh;
  width: 100vw;
  padding-right: 0px;
}

.truncate-text p {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.question-bank {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 18%;
  display: inline-block;
}

.context {
  width: 82%;
  display: inline-block;
  padding-left: 5px;

  background-color: #edeff3;
}

/*side bar*/
.sidebar {
  height: 100%;
  padding: 0;
  bottom: 0px;
  background-color: #5a6276;
}

.sidebar .logo {
  width: 100%;
  height: 3.25rem;
  background-color: #fff;
}

.sidebar .sub-module {
  width: 100%;

}

.sidebar .nav-link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar .nav-link.active {
  color: #5cb800;
  position: relative;
}

.sidebar li a {}

.sidebar .nav-link.active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #5cb800;
}

.dropdown-cs-toggle {
  cursor: pointer;
}

.dropdown-cs-menu {
  display: block;
  padding: 0 var(--bs-nav-link-padding-x);
  position: relative;
}

.dropdown-cs-menu li {
  list-style: none;
  padding: 0.5rem 0;
}

.dropdown-cs-item.active,
.dropdown-cs-item:hover {
  color: #fff;
}

.dropdown-cs-menu::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background-color: #fff;
}

.dropdown-cs-menu li a {
  color: #bdc2d2;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  margin: 0.5rem 0;
}

/*header*/
.context {
  height: 100%;
}

.header,
.header-left,
.header-right {}

.header {
  width: 100%;
  background-color: #fff;
  height: 3.125rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-left: 0px !important;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .nav-link {
  padding: 0 0.01rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #5a6276;
}

.header-left .nav-link:hover {
  color: #008000;
}

.header-left .nav-link.active {
  color: #008000;
}

.header-left .nav {
  height: 100%;
}

.header-left .nav-item {
  display: flex;
  text-align: center;
  align-items: center;
}

.border-cs-right {
  height: 2rem;
  width: 0.125rem;
  background-color: #5a6276;
  border-radius: 3px;
  display: inline-block;
  margin: 0 1rem;
}

.header-left .nav-item .nav-link.active {
  position: relative;
}

.border-active {
  display: inline-block;
}

.border-active.active {
  width: 100%;
  border-radius: 3px;
  height: 0.2rem;
  background-color: #008000;
  position: absolute;
  bottom: -0.8rem;
  left: 0px;
}

.header-right i {
  color: #5A6276;
}

/*question filter*/
.question-filter {
  width: 100%;
  margin-left: 0px !important;
  padding-top: 1rem;
  overflow-x: auto;
}

.question-border {
  height: 1.5rem;
  width: 2px;
  background-color: #BDC2D2;
  display: inline-block;
  border-radius: 3px;
  margin: 0 0.75rem;
}

.question-content {
  text-align: left;
}

.question-info span {
  display: inline-block;
}

.question-info {
  display: flex;
  justify-content: start;
  align-items: center;
}

.question-search {
  padding-right: 2rem;
}

.question-filter {
  padding-right: 2rem;

}

.question-filter .nav-link {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-filter .nav-link label,
.question-filter .nav-link input {
  display: inline-block;
  padding: 0 1rem;
}

.question-filter .nav-link label {
  color: #5a6276;
}

.question-filter .nav-item {
  background-color: #fff;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  border-radius: 3rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.question-filter-right .nav-item {
  border-radius: 0px;
  margin-right: 0;
  margin-left: 1rem;
  transition: .5s;
  
}

.question-filter-right .nav-item:hover{
  transform: translateY(-5%);
}
.question-filter-right .nav-item .nav-link i,
.question-filter-right .nav-item .nav-link {
  color: #959DB3;
}

.question-filter-right .nav-item:hover {
  background-color: #1a6634;
}

.question-filter-right .nav-item:hover .nav-link i,
.question-filter-right .nav-item:hover .nav-link {
  color: #fff;
}

.question-filter .nav-item:hover,
.question-filter .nav-link:hover,
.question-filter .nav-link label:hover,
.question-filter .nav-link input:hover {
  cursor: pointer;
}

.question-filter-left .nav-item {
  border: 1px solid transparent;
}

.question-filter-left .nav-item:hover,
.question-filter-left .nav-item.active {
  border-color: #008000;
}

.question-filter .nav-item input[type="checkbox"]:checked::before,
.check-popup:checked::before {
  content: "\002714";
  background-color: #008000;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  align-items: center;
  width: 0.85rem;
  height: 0.85rem;
}

.question-filter .nav-item input[type="checkbox"]:hover::before,
.question-filter .nav-item:hover input[type="checkbox"]::before,
.check-popup:hover::before {
  content: "\002714";
  background-color: #008000;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.85rem;
  height: 0.85rem;
  cursor: pointer;
}

.question-filter-right .nav-item {
  border-radius: 5px;
}

.question-filter hr {
  border: none;
  height: 1px;
  background-color: #BDC2D2;
  margin-top: 1rem;
}

.question-search hr {
  border: none;
  height: 1px;
  background-color: #BDC2D2;
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

/*Question List*/
.question-list {
  max-height: 55vh;
  overflow: auto;
  padding-right: 1rem;
  position: relative;
}

/*question list*/
.action-question-menu {
  display: none;
  z-index: 1;
  background-color: #edeff3;
  width: auto;
  position: absolute;
  top: 0;
  right: 100%;
  transition: 0.5s;

}

.action-question-menu li {
  text-wrap: nowrap;

}

.show-action-question {
  position: relative;
}

.show-action-question:hover {
  cursor: pointer;
}

.show-action-question i {
  color: #bdc2d2;
}

.question-list .table tbody .question-row .show-action-question.active i,
.question-list .table tbody .question-row .show-action-question.active {
  color: #fff;
}

.show-action-question {
  border: none;
  background-color: transparent;
}

.question-action-item {
  background-color: #bdc2d2;
  padding: 0.5rem 0.5rem;
}

.question-action-item:hover {
  background-color: #008000;
  color: #fff;
}

.question-list .table tbody .question-row:hover,
.question-list .table tbody .question-row:hover td {
  background-color: #598f6d;
  cursor: pointer;
}

.question-row.active,
.question-row.active td {
  background-color: #598f6d;
  cursor: pointer;
}

.question-list .table tbody .question-row .show-action-question.active {
  background-color: #bdc2d2;
}

.question-row,
.question-row td,
.question-list tr,
.question-list tr th {
  border: none;
}

.question-list thead tr,
.question-list thead tr th {
  background-color: transparent;
}

.question-row td {
  height: 3.875rem;
  vertical-align: middle;
}

.question-row {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.show-action-question {
  padding: 0.5rem;
}

/*toasts*/
.toasts {
  position: fixed;
  left: 10vw;
  bottom: 3vh;
  z-index: 10;
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: none;
}

.toasts-success {
  background-color: #1a6634;
  color: #fff;
}

.toasts-fail {
  background-color: #FD7676;
  color: #fff;
}

.toasts p {
  margin: 0;
}

.show {
  display: block;
}

/*question-lis*/
.question-list thead {
  padding: 0;
}

.table thead tr th {
  padding: 0;
  color: #5A6276;
}

.table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}


/*popup*/

#popup-action {
  display: none;
  position: fixed;
  bottom: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  width: auto;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#popup-action .nav {
  flex-wrap: nowrap;
}

#popup-action .nav-item {
  display: flex;
  align-items: center;
}

#popup-action .nav-item .nav-link i {
  color: #959DB3;
  padding: 0px;
  font-size: 16px;
}

#popup-action .count-question h1 {
  color: white;
  font-size: 30px;

}

#popup-action .count-question {
  background-color: #008000;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#popup-action .nav-item .nav-link span {
  color: black;
  font-size: 14px;
  white-space: nowrap;
}

#popup-action .nav-item:hover .nav-link span,
#popup-action .nav-item:hover .nav-link i {
  color: #008000;
}

#popup-action .nav-item.action-delete:hover .nav-link span,
#popup-action .nav-item.action-delete:hover .nav-link i {
  color: #FD7676;
}

#popup-action .nav-item:hover:first-of-type .nav-link span {
  color: white;
}

#popup-action .count-question .nav-link span {
  color: white;
}

.context {
  position: relative;
}

/*footer*/
.footer {
  position: absolute;
  bottom: 1rem;
  left: 5px;
  width: 99.5%;
  padding-right: 2rem;
}

.numbers-question span {
  display: inline-block;
  white-space: nowrap;
  color: #959DB3;
  padding-right: 1rem;
}

.numbers-question select {
  background-color: transparent;
  border: none;
  padding-right: 1.7rem;
}

.numbers-question select:hover {
  cursor: pointer;
}

.numbers-question select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/*pagiantion*/
.pagination .page-item .page-link {
  background-color: #F4F5F7;
  color: #959DB3;
  margin: 0 1.5px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 3px;
  border: none;
}

.pagination .page-item.active .page-link {
  border: none;
  background-color: #959DB3;
  color: white;
}

/*question-search*/
.question-search .question-search--top {
  padding-bottom: 0.5rem;

}

.question-search--top .search-item--action {
  color: #5A6276;
  font-weight: 600;

}

.question-search--bot .search-item--action {
  color: #008000;
  text-decoration: underline;
}

.question-search--bot .search-item--action:hover {
  cursor: pointer;
}

.question-search--top .search-item--label {
  color: #959DB3;
}

.question-search .search-item--action {
  padding-right: 1rem;
  min-width: 120px;
}

.question-search .search-item--icon i {
  color: #959DB3;
}

.question-search .search-item--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.question-search--bot .search-item--label input {
  border: none;
  outline: none;
  min-width: 300px;
  padding: 0.25rem;
  padding-left: 1.5rem;
  border-radius: 5px;
}

.question-search--bot .search-item--label div {
  position: relative;
  padding-right: 0.25rem;
}

.question-search--bot .search-item--label div i {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  top: 25%;
  left: 5px;
}

.question-search--bot .search-item--label button {
  border: none;
  background-color: #008000;
  padding: 0.3rem;
  border-radius: 3px;
  transition: .5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.question-search--bot .search-item--label button:hover {
  transform: translateY(-5%);
}

.question-search--bot .search-item--label i,
.question-search--bot .search-item--label button span {
  color: white;
}