$green-active-bold: #1A6634;
$green-active-light: #5CB800;
$color-01: #A2ABB4;
$color-02: #242636;
$color-03: #514259;
$background-color-01: #5c6873;
$background-color-02: #EDEFF3;
$status-return: #FFCE42;
$status-send: #4C9CE0;
$status-approve: #3D7B40;
$status-inactive: #FD7676;
$status-draft: #8d8f93;
