<div class="header row container-fluid">
  <div class="header-wrapper">
    <div class="header-left col-10">
      <ul class="nav d-flex align-items-center">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <p>- - - - - - - -<span class="border-active"></span></p>
          </a>
          <span class="border-cs-right"></span>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <p>Nhân sự <span class="border-active active"></span></p>
          </a>
        </li>
      </ul>
    </div>
    <div class="header-right col-2">
      <ul class="nav justify-content-end align-items-center" >
        <li class="nav-item"><a title="Search" class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
        <li class="nav-item"><a title="Notification" class="nav-link" href="#"><i class="fa-regular fa-bell"></i></a></li>
        <li class="nav-item"><a title="Profile" class="nav-link" href="#"><i class="fa-regular fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</div>