
    <div class="sidebar-sticky sidebar">
      <div class="logo"></div>
      <ul class="nav flex-column sub-module">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >- - - - - - -</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-cs-toggle"><i class="fa-solid fa-list-check pe-2"></i>Đánh giá nhân sự</a>
          <ul class="dropdown-cs-menu">
            <li><a class="dropdown-cs-item active" href="#"><i class="fa-solid fa-question pe-2"></i>Ngân hàng câu hỏi</a></li>
            <li><a class="dropdown-cs-item" href="#">- - - - - - -</a></li>
            <li><a class="dropdown-cs-item" href="#">- - - - - - -</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">- - - - - - -</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">- - - - - - -</a>
        </li>
      </ul>
    </div>
