
    <div class="sidebar-sticky sidebar">
      <div class="logo">
        <img src="http://172.16.10.251:89/Uploads/_6/developer/Logo/HachiLogo.png" alt="logo">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <ul class="nav flex-column sub-module">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#"
            ><span style="display: inline-block;">- - - - - - -</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active dropdown-cs-toggle"><i class="fa-solid fa-list-check pe-2"></i><span style="display: inline-block;">Đánh giá nhân sự</span><i class="fa-solid fa-chevron-down ps-2"></i></a>
          <ul class="dropdown-cs-menu">
            <li><a class="dropdown-cs-item active" href="#"><i class="fa-solid fa-question pe-2"></i><span style="display: inline-block;padding-left: 10px;">Ngân hàng câu hỏi</span></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span style="display: inline-block;">- - - - - - -</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span style="display: inline-block;">- - - - - - -</span></a>
        </li>
      </ul>
    </div>
