
    <div class="sidebar-sticky sidebar">
      <div class="logo"></div>
      <ul class="nav flex-column sub-module">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-cs-toggle">Settings</a>
          <ul class="dropdown-cs-menu">
            <li><a class="dropdown-cs-item active" href="#">Profile</a></li>
            <li><a class="dropdown-cs-item" href="#">Security</a></li>
            <li><a class="dropdown-cs-item" href="#">Preferences</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
    </div>
