<div class="cs-date-picker">
  
  <div class="input-date-picker">
    <i class="fa-regular fa-calendar" (click)="onToggle()"></i>
    <input type="date" [(ngModel)]="dateToBind" (focus)="onFocus($event)" (blur) = "blurDateInput($event)" title="datepicker" >
  </div>
  <div class="calendar" *ngIf="isShow">
    <div class="calendar-nav">
      <div>Tháng {{monthToString}}, {{navDate.format('yyyy')}}</div>
      <div>
        <div [ngClass]="{'is-inactive': !canChangeNavMonth(-1)}" class="calendar-nav-previous-month">
          <button class="button is-text" (click)="changeNavMonth(-1)">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
        <div class="calendar-nav-next-month">
          <button class="button is-text" (click)="changeNavMonth(1)">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="calendar-container">
      <!-- <div class="calendar-header">
          <div class="calendar-date"
          *ngFor = "let day of weekDaysHeaderArr">
          {{day}}
        </div>
      </div> -->
      <div class="calendar-body">
        <div
          *ngFor="let day of gridArr"
          class="calendar-date"
          [class.is-current]="checkCrrDate(day)"
          [class.is-disabled]="!day.available"
          [class.is-selected]="checkSelected(day.value)"
        >
          <button
            *ngIf="day.value !== 0"
            class="date-item"
            (click)="selectDay(day)"
          >
            {{ day.value }}
          </button>
          <button *ngIf="day.value === 0" class="date-item"></button>
        </div>
      </div>
    </div>
  </div>
</div>
