<div class="cs-date-picker">
  <div>
    <input type="text" [(ngModel)]="daySelected" (ngModelChange)="changeDayInput($event)" placeholder="dd" mask="00" (blur)="blurDayInput($event)" />-<input
      type="text"
      [(ngModel)]="monthSelected"
      placeholder="mm"
      mask="00"
      (ngModelChange)="changeMonthInput($event)" (blur)="blurMonthInput($event)"  />-<input type="text" [(ngModel)]="yearSelected" placeholder="yyyy" mask="0000" (ngModelChange)="changeYearInput($event)" (blur)="blurYearInput($event)" />
  </div>
  <div class="calendar">
    <div class="calendar-nav">
      <div>{{ navDate.format("MMMM YYYY") }}</div>
      <div>
        <div *ngIf="canChangeNavMonth(-1)" class="calendar-nav-previous-month">
          <button class="button is-text" (click)="changeNavMonth(-1)">
            <i class="fa fa-chevron-left"></i>
          </button>
        </div>
        <div class="calendar-nav-next-month">
          <button class="button is-text" (click)="changeNavMonth(1)">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="calendar-container">
      <!-- <div class="calendar-header">
          <div class="calendar-date"
          *ngFor = "let day of weekDaysHeaderArr">
          {{day}}
        </div>
      </div> -->
      <div class="calendar-body">
        <div
          *ngFor="let day of gridArr"
          class="calendar-date"
          [class.is-current]="checkCrrDate(day)"
          [class.is-disabled]="!day.available"
          [class.is-selected]="checkSelected(day.value)"
        >
          <button
            *ngIf="day.value !== 0"
            class="date-item"
            (click)="selectDay(day)"
          >
            {{ day.value }}
          </button>
          <button *ngIf="day.value === 0" class="date-item"></button>
        </div>
      </div>
    </div>
  </div>
  
</div>