.question-action{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        &.active{
            background-color: #BDC2D2;
        }
        .actions{
            display: none;
            position: absolute;
            top: 0;
            right: 100%;
            background-color: #BDC2D2;
            transition:  .5;
            .action{
                padding: 5px 15px;
            }
        }
        .show{
            display: block;
        }
    }
    
    
}