<div class="question-list">

    <table class="question-table">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Câu hỏi</th>
                <th>Phân nhóm</th>
                <th class="question-time">Thời gian làm</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="active" data-code="Q.001">
                <td><input type="checkbox"></td>
                <td class="question-info">
                    <div class="question-info-top">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci distinctio temporibus aliquid voluptatem rerum quasi?</div>
                    <div class="question-info-bot">
                        <div class="question-info-code">Q.001</div>
                        <div class="question-info-border"></div>
                        <div class="question-info-type">Loai cau hoi: Dang mot cau lua chon</div>
                    </div>
                </td>
                <td>Thuong hieu van hoa cty</td>
                <td class="question-time">30s</td>
                <td class="question-status">Dang gui duyet</td>
                <td>
                    <app-question-action></app-question-action>
                </td>
            </tr>
            <tr class="active" data-code="Q.001">
                <td><input type="checkbox"></td>
                <td class="question-info">
                    <div class="question-info-top">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci distinctio temporibus aliquid voluptatem rerum quasi?</div>
                    <div class="question-info-bot">
                        <div class="question-info-code">Q.001</div>
                        <div class="question-info-border"></div>
                        <div class="question-info-type">Loai cau hoi: Dang mot cau lua chon</div>
                    </div>
                </td>
                <td>Thuong hieu van hoa cty</td>
                <td class="question-time">30s</td>
                <td class="question-status">Dang gui duyet</td>
                <td>
                    <app-question-action></app-question-action>
                </td>
            </tr>
            <tr class="active" data-code="Q.001">
                <td><input type="checkbox"></td>
                <td class="question-info">
                    <div class="question-info-top">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci distinctio temporibus aliquid voluptatem rerum quasi?</div>
                    <div class="question-info-bot">
                        <div class="question-info-code">Q.001</div>
                        <div class="question-info-border"></div>
                        <div class="question-info-type">Loai cau hoi: Dang mot cau lua chon</div>
                    </div>
                </td>
                <td>Thuong hieu van hoa cty</td>
                <td class="question-time">30s</td>
                <td class="question-status">Dang gui duyet</td>
                <td>
                    <app-question-action></app-question-action>
                </td>
            </tr><tr class="active" data-code="Q.001">
                <td><input type="checkbox"></td>
                <td class="question-info">
                    <div class="question-info-top">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci distinctio temporibus aliquid voluptatem rerum quasi?</div>
                    <div class="question-info-bot">
                        <div class="question-info-code">Q.001</div>
                        <div class="question-info-border"></div>
                        <div class="question-info-type">Loai cau hoi: Dang mot cau lua chon</div>
                    </div>
                </td>
                <td>Thuong hieu van hoa cty</td>
                <td class="question-time">30s</td>
                <td class="question-status">Dang gui duyet</td>
                <td>
                    <app-question-action></app-question-action>
                </td>
            </tr>
        </tbody>
    </table>
</div>