<div class="question-list">
  <div *ngIf="questionsToAction.length > 0" class="question-actions-area">
    <app-question-actions
      [actions]="actions"
      [questionsToAction]="questionsToAction"
    ></app-question-actions>
  </div>
  <table class="question-table">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            (change)="checkQuestions()"
            [checked]="isAllActive"
          />
        </th>
        <th>Câu hỏi</th>
        <th>Phân nhóm</th>
        <th class="question-time">Thời gian làm</th>
        <th>Tình trạng</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let question of questions"
        [ngClass]="{ active: questionsToAction?.includes(question) }"
      >
        <td>
          <input
            (change)="checkQuestion(question)"
            type="checkbox"
            [checked]="questionsToAction?.includes(question)"
          />
        </td>
        <td class="question-info">
          <div class="question-info-top">{{ question.questionName }}</div>
          <div class="question-info-bot">
            <div class="question-info-code">{{ question.questionCode }}</div>
            <div class="question-info-border"></div>
            <div class="question-info-type">{{ question.questionType }}</div>
          </div>
        </td>
        <td>{{ question.questionGroup }}</td>
        <td class="question-time">{{ question.questionTime }}s</td>
        <td class="question-status">{{ question.questionStatus }}</td>
        <td style="border-left: 1px solid #bdc2d2">
          <app-question-action
            [question]="question"
            (questionSend)="sendQuestion($event)"
          ></app-question-action>
        </td>
      </tr>
    </tbody>
  </table>

</div>
