@import "../../../variables";

.question-bank {
    height: 100%;
    width: calc(100vw - 220px);

    .content {
        width: calc(100% - 55px);
        height: calc(100% - 20px);
        padding: 0px 40px 20px 15px;

        .question-filter {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $color-01;

            .question-filter--status {
                padding: 20px 0;
                width: calc(100% - 300px);
                overflow-x: auto;
                height: 100%;

                .btn-list {
                    min-width: 500px;
                    display: flex;
                    gap: 20px;
                    height: 100%;

                    .btn-filter {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;
                        padding: 3px 5px;
                        background-color: white;
                        border: none;
                        border-radius: 10px;
                        border: 1px solid white;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                        &:hover,
                        &.active {
                            border-color: $green-active-bold;

                            input::before,
                            input:checked::before {
                                content: "\002714";
                                background-color: #008000;
                                color: #fff;
                                display: flex;
                                justify-content: center;
                                font-size: 0.7rem;
                                align-items: center;
                                width: 0.85rem;
                                height: 0.85rem;
                                border-radius: 2px;
                            }

                            input:hover {
                                cursor: pointer;
                            }
                        }

                        span {
                            text-wrap: nowrap;
                            color: $color-01;
                        }
                    }
                }
            }

            .question-filter--actions {
                padding: 20px 0;
                width: 300px;
                display: flex;
                justify-content: end;
                gap: 20px;

                .btn-action {
                    background-color: white;
                    border: none;
                    border: 1px solid white;
                    border-radius: 5px;
                    padding: 7px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    color: $color-01;
                    gap: 10px;
                    transition: .5s;

                    &.btn-new {
                        background-color: $green-active-bold;
                        border-color: $green-active-bold;
                        color: white;
                    }

                    &:hover {
                        background-color: $green-active-light;
                        border-color: $green-active-light;
                        color: white;
                    }
                }
            }
        }

        .question-search {

            border-bottom: 1px solid $color-01;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 20px;
            overflow-x: auto;

            .content-search {
                min-width: 600px;
                display: flex;
                justify-content: start;

                .search-icon {
                    padding: 0 10px;
                }

                .search-reset {
                    .search-reset--top {
                        color: #5A6276;
                        text-transform: uppercase;
                        font-weight: 700;
                        text-wrap: nowrap;
                    }

                    padding: 0 10px;

                    .search-reset--bot {
                        padding-top: 15px;
                        transition: .5s;

                        button {
                            border: none;
                            background-color: transparent;
                            text-decoration: underline;
                            cursor: pointer;
                            color: $green-active-bold;
                            padding: 0;
                            transition: .5s;
                            text-wrap: nowrap;
                            transition: .5s;
                        }

                        &:hover {
                            button {
                                color: $green-active-light;
                            }
                        }
                    }
                }

                .search-input {
                    padding: 0px 20px;

                    .search-input--top {
                        color: $color-03;
                    }

                    .search-input--bot {
                        padding-top: 15px;
                        display: flex;
                        gap: 20px;
                        justify-content: start;
                        align-items: center;

                        .search-input-text {
                            position: relative;

                            input {
                                border: none;
                                background-color: white;
                                padding: 5px;
                                padding-left: 20px;
                                border-radius: 3px;

                                &:focus-visible {
                                    border: none;
                                    outline: none;
                                }

                                min-width: 350px;

                            }

                            i {
                                position: absolute;
                                left: 2px;
                                top: 5px;
                            }
                        }

                        .btn-search {
                            border: none;
                            background-color: $green-active-bold;
                            color: white;
                            padding: 7px;
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            border-radius: 5px;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                            cursor: pointer;

                            &:hover {
                                background-color: $green-active-light;
                            }
                        }
                    }
                }
            }
        }
    }
}